@media screen and (min-width: 768px) {
    /* CSS rules for tablets and larger screens */
  }

body {
    background-image: url(./background.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 20px;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: white;
}

th {
    background-color: #f2f2f2;
}